body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 10% 10%;
    border-radius: 50%;
    border: 5px solid red;
}

.center {
    text-align: center;

}

h1 {
    color: red;
}

footer img {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container2 {
    padding: 0px 50px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: red;
}

.tela1 {
    text-align: left;

}

.tela2 {
    text-align: left;

}

section img {
    width: 500px;
    display: inline-block;
}

section1 img {
    width: 300px;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    #cal {
        width: 600px;
    }
    #gerador {
        width: 600px;
    }
}

#gerador {
    width: 850px;
}
#cal {
    width: 900px;
}

.certificado {
    height: 300px;
    width: 100%;
}

#certifi {
    width: 50%;
    height: 50%;
}

.link {
    color: rgb(83, 245, 68);
}

.link:hover {
    color: #ffffff;
}

.linkgit {
    cursor: pointer
}

#servico {
    color: #ffffff;
}

#ph {
    margin-left: 4%;
}

#p {
    width: 60px;

}

/* --------------------------------------------------------- */
.habil {
    color: #fff;
    text-align: center;
    margin-top: 2%;
    font-size: 50px;
}

.icons {
    color: #fff;
    font-size: 25px;
    margin-left: 1%;
    margin-top: -2%;
}

.cita {
    text-decoration: none;
    color: #fff
}

.cita:hover {
    color: #776262;
}

.con {
    margin-top: 1%;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {

        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 40px 0;
    white-space: nowrap;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
}

.logos-slide img {
    height: 120px;
    margin: 0 40px;
}

#contad {
    margin-left: 85%;
}

.links:hover {
    color: #776262;
}

.test {
    display: flex;
}

.imaj {
    margin: 20px;
}

.imaj img {
    width: 60px;
    height: 60px;
}

.imaj p {
    margin-top: 2px;
    text-align: center;
}
